/* @keyframes gradientEffect {
  from { background-position: 0 0;}
  to { background-position: 100% 100%;}
}

body {
  padding: 100%;
  background-image: linear-gradient(to bottom right, #4affde 0%,
  #5b9dff 40%, #9f6bff 60%, #ff34d2 100%);

background-size: 200% 200%;
animation: gradientEffect 2s linear infinite alternate;
} */

main {
  margin-top: 30px;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 1px solid black;
}
td, tr {
  border: 1px solid black;
}
th {
  border: 1px solid red;
  width: 20px;
  height: 40px;
}

#addPessoa {
  font-size: 15px;
  width: 120px;
  height: 40px;
  background-color: rgb(56, 56, 252);
  border-radius: 5px;
  color: white;
  margin-left: 5px;
}

input {
  width: 150px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

 #adicionando-pessoas {
  display: flex;
  margin-top: 15px;
  height: 30px;
  justify-content: center;
  align-items: center;
} 

#buttons {
  padding: 20px;
  display: flex;
  margin-top: 15px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
#newRound {
  margin-top: 15px;
  font-size: 15px;
  width: 120px;
  height: 40px;
  background-color: rgb(189, 33, 189);
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}